<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AutoSymSwitch.Service1Behavior"
               name="AutoSymSwitch.AutoSymSwitchRestWCF">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="AutoSymSwitch.IAutoSymSwitchRestWCF"
                  behaviorConfiguration="web">
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- Add secure WebHttpBinding config
    bindingConfiguration="webHttpTransportSecurity"
    httpsGetEnabled="True"
    
    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="AutoSymSwitch.Service1Behavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>